.App{
  width: 100%;
}



.App-header {
  display: flex;
  background-color:#12887A;
  height: 50px;
  padding: 20px;
  color: white;
}
.App-body{
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

